/* buttons-links CSS
-------------------------*/
a, a:hover, a:active, a:focus{
   outline: 0;
}

a.dimmed{
	color: #a8a8a8 !important;
}

.course_titlec a:link, 
.course_titlec a:visited, 
.course_titlec a:hover, 
.course_titlec a:focus, 
.course_titlec a:active{
	color: #e20613;
}

.course_title_past a:link, 
.course_title_past a:visited, 
.course_title_past a:hover, 
.course_title_past a:focus, 
.course_title_past a:active{
	/* color: #e20613; */
}

