/* course CSS
-------------------------*/
div.sectionheader{
	padding-top :10px;
}

div.sectionheader_title, div.sectionheader_number{  
    font-size: 20px;    
    font-weight: bold;
	color: #575757;
	float: left;
}

div.sectionheader_title{
	padding-left: 10px;
}

.course-content ul.topics li.section{
	margin-left: 0px;
}

.course-content li.section ul, .course-content ul.topics li.section .content, .course-content ul.weeks li.section .content {
    margin-left: 0px;
    margin-right: 0px;
}

div.no-overflow li {
    margin-left: 20px;
}

ul.topics > div.content > div.summary {
    padding-top: 10px;
}

.course-content div.onetopic ul.topics li.section .summary {
    padding-top: 0px;
}
.course-content ul.topics li.section .summary {
    margin-top: 35px;
}

.course-content .current {
    background-color: #fff;
}

.format-onetopic .tab_content.marker {
    font-style: italic;
	font-weight:bold;
}

section.node_category{
	background-color: #fff;
}

body#page-user-profile section#region-main{
	background-color: #EAEAEA;
}

div.unit_start, a.unit_descriptor, p.unit_descriptor{
    color: rgba(87, 87, 87, 0.75);
    margin-bottom: 0;
    font-weight: bold;
}

ul.teachers{
	margin-left: 25px !important;
}

.path-mod-assign [data-region="grade-panel"].fullwidth [data-region="grade"]{
	background-color: #fff;
	padding: 20px;
}

.path-mod-assign [data-region="grading-navigation-panel"], .path-mod-assign div.submissionstatus, .path-mod-assign [data-region="grade-actions-panel"]{
	background-color: #fff;
}