/* course CSS
-------------------------*/
div.sectionheader{
	padding-top :10px;
}

div.sectionheader_title, div.sectionheader_number{  
    font-size: 20px;    
    font-weight: bold;
	color: #575757;
	float: left;
}

div.sectionheader_title{
	padding-left: 10px;
}

.course-content ul.topics li.section{
	margin-left: 0px;
}

.course-content li.section ul, .course-content ul.topics li.section .content, .course-content ul.weeks li.section .content {
    margin-left: 0px;
    margin-right: 0px;
}

div.no-overflow li {
    margin-left: 20px;
}

ul.topics > div.content > div.summary {
    padding-top: 10px;
}

.course-content div.onetopic ul.topics li.section .summary {
    padding-top: 0px;
}
.course-content ul.topics li.section .summary {
    margin-top: 35px;
}

.course-content .current {
    background-color: #fff;
}

.format-onetopic .tab_content.marker {
    font-style: italic;
	font-weight:bold;
}