/* Main CSS
-------------------------*/
@font-face {
    font-family: "OpenSans";
    src: url([[font:theme|OpenSans.eot]]);
    src: url([[font:theme|OpenSans.eot]]) format('embedded-opentype'),
         url([[font:theme|OpenSans.woff]]) format('woff'),
         url([[font:theme|OpenSans.ttf]]) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url([[font:theme|OpenSans-Semibold.eot]]);
    src: url([[font:theme|OpenSans-Semibold.eot]]) format('embedded-opentype'),
         url([[font:theme|OpenSans-Semibold.woff]]) format('woff'),
         url([[font:theme|OpenSans-Semibold.ttf]]) format('truetype');
    font-weight: bold;
    font-style: normal;
}

body{
	margin:0;
	font-family: OpenSans, "Trebuchet MS";
	font-size:14px;
	line-height:20px;
	color:#333;
	background-color: #f4f4f4 !important;
	background: #f4f4f4 !important;
	position: relative;
}


html{
	height: 100%;
	box-sizing: border-box;	
}

section#region-main{
	background-color: #fff;
}

@media (min-width: 768px){
	section#region-main{
		padding: 10px 20px 10px 30px;	
		border-radius: 2px;
	}
}

/* Sort this lot out */

div.sectionheader{
	padding-top :10px;
}

input, select{
	font-family: OpenSans, "Trebuchet MS";
}



:target:before {
	content: "";
	display: block;
	height: 80px; /* fixed header height*/
	margin: -80px 0 0; /* negative fixed header height */
}

/* PANOPTO */
.block_panopto .rssLink
{
    font-size: inherit;
}

.block_panopto .listItem
{
    font-size: inherit;
}

.block_panopto #showAllToggle
{
    font-size: inherit;
}

/* END PANOPTO */


.block_course_overview_current .coursebox_current, .block_course_overview_past .courseboxp {
    padding: 5px;
}

.dropdown-menu{
	right: 0;
	left: inherit;
}

.dropdown-submenu>.dropdown-menu {
    top: 5px;
	right: 100%;
	left: inherit;
	border-radius: 2px;
}

.dropdown-submenu>a:after{
	display: none;
}



div#content_hide > section#region-main{
	display:none;
}

div#logged_out{
	background-image: url("/theme/solent2017/pix/login.jpg");
	height: 34.375rem;
	margin-top: -20px;
	margin-bottom: -30px;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clear: left;
}


.course-content .current {
    background-color: #fff;
}

.dropdown-menu, .moodle-actionmenu[data-enhanced].show .menu {
	background-color: #3a3b3f;
    border-radius: 2px;
	margin-top: 13px;
}

.navbar .nav>li>.dropdown-menu:before, .navbar .nav>li>.dropdown-menu:after{
	display: none;
}

.dropdown-menu > li >a{
	color: #fff;
	padding: 10px 12px;
	font-size: 13px;
	line-height: 18px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    text-decoration: none;
    color: #fff;
    background-color: #2c2d2e;
    background-image: none;
}

.format-onetopic .tab_content.marker {
    font-style: italic;
	font-weight:bold;
}

.groupmanagementtable #buttonscell p.arrow_button input {
    margin: 10px auto 10px auto;
}

.moodle-actionmenu[data-enhanced].show .menu a{
	color: #fff;
}

div#fullscreenfloat.fullscreen{
	top:100px;
}

header > nav > div > div.nav-collapse.collapse > ul:nth-child(1) > li.dropdown > a > b{
	display: none;
}

img.block-hider-hide, img.block-hider-show{
	outline: none;
}

.message .contactselector {
	width:25%;
}

div.sectionheader_title, div.sectionheader_number{  
    font-size: 20px;    
    font-weight: bold;
	color: #575757;
	float: left;
}

div.sectionheader_title{
	padding-left: 10px;
}

/* Unit descriptors in search results */
.unit_desc{
	background-image: none !important;
    font-size: 14px;
    font-weight: normal;
}

.no_desc, .no_desc:hover{
	color: #000;
    font-size: 14px;
    font-weight: normal;
	text-decoration: none !important;
}

/*With selected padding*/
.gradingbatchoperationsform{
	padding-top: 15px;
}

/*USER MENU*/
.jsenabled .usermenu .moodle-actionmenu.show {
    background-color: #fff;
}

div.feedback_item_box_left div.feedback_item_label_left, div.feedback_item_box_left div.feedback_item_presentation_left {
    margin-left: 25px;
}

ul#action-menu-0-menu > li > a {
	background-color: #3a3b3f;
	background-image: none; 
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
}
ul#action-menu-0-menu > li > a:hover, ul#action-menu-0-menu > li > a:focus {
	background-color: #2c2d2e;
	background-image: none; 
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
}

ul#action-menu-0-menu:before{
    display: none; 
}

ul#action-menu-0-menu:after {
    display: none; 
}

.jsenabled .usermenu .moodle-actionmenu.show .menu.align-tr-br {
    margin-top: 21px;
}

.jsenabled .usermenu .moodle-actionmenu .toggle-display.textmenu {
    padding-left: 0px;
}

div.container-fluid{
	padding-left: 10px;
	padding-right: 10px;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars {
    margin-right: 0px;
}

.usermenu .moodle-actionmenu .toggle-display .caret {
	display: none !important;
}

span.usertext{
	padding-bottom: 10px;
    padding-top: 10px;
}

ul.nav > li > a, span.usertext{
	position: relative;
	color: #000;
	text-decoration: none;	
}

div.nav-collapse.collapse > ul.nav > li > a:hover, span.usertext:hover,
div.nav-collapse.collapse > ul.nav > li > a:focus, span.usertext:focus{	
	color: #000;
}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle{	
	background-color: #fff;
}

h1.headingblock.header.outline {
    font-size: 24px;
    color: #e20613;
}

h2{
	font-size: 28px;
}

img.userpicture{
	border-radius: 50%;
}

button, input.form-submit, 
input[type="button"], 
input[type="submit"], 
input[type="reset"], 
#notice .singlebutton+.singlebutton input:hover, 
#notice .singlebutton+.singlebutton input:active, 
#notice .singlebutton+.singlebutton input:focus, 
a.btn, input[type="button"]:hover, 
a.btn, input[type="button"]:focus, 
input[type="button"]:active, 
.path-admin .buttons input[type="submit"]{
	background-color: #466273;
	border: 1px solid #466273;
    border-radius: 2px;
    color: #fff;
    opacity: 1;	
	text-decoration: none;
	background-image: none;
	text-shadow: none;
	box-shadow:none;
	line-height:25px;
	outline: none;
}

a.btn{
	margin-top: 9.5px;
    margin-left: 15px !important;
    border-radius: 2px !important;
}

header#page-header > div > div > a > span > img, div.page-context-header > div > a > span > img{
	display:none;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, input#id_submitbutton, input#id_submitbutton2 {
    display: inline-block;    
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 25px;
    color: #555;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    vertical-align: middle;
}

select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: 25px;
}

input[id$="_clearbutton"][disabled], input[type="reset"][disabled] {
    border-color: #f89406;
}

input[id$="_clearbutton"][disabled]:hover, input[type="reset"][disabled]:hover,
input[id$="_clearbutton"][disabled]:focus, input[type="reset"][disabled]:focus {
    background-color: #fff;
	color: #575757;
}

select{
	height:35px;
}

span.arrow{
	color: #466273;
}

span.arrow.sep{
	color: #e20613;
}
	
input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus, input[type="submit"].disabled,
input[type="button"]:focus, input[type="reset"]:focus,  input.form-submit[disabled], input[type="submit"][disabled], 
input#id_submitbutton:hover, input#id_submitbutton:active, input#id_submitbutton:focus, 
button:hover, button:active, button:focus, 
a.btn:hover, a.btn:active, a.btn:focus, 
input#id_submitbutton2:hover, input#id_submitbutton2:focus, 
.path-admin .buttons input[type="submit"]:hover, .path-admin .buttons input[type="submit"]:focus
#notice .singlebutton+.singlebutton input {
    color: #575757;
    text-decoration: none;
    background-color: #fff;
	border: 1px solid #466273;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
	text-shadow: none;
    transition: background-position .1s linear;
	outline: none;
	box-shadow: none;
    background-image: none;
    border-radius: 2px;
}

input.form-submit, 
input#id_submitbutton, 
input#id_submitbutton2, 
.path-admin .buttons input[type="submit"], 
td.submit input {
	color: #fff;
	text-decoration: none;
	background-color: #466273;
	background-image: none;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
	outline: none;
}

.moodle-actionmenu ul {
	font-weight: normal;
}

.navbar .brand {
	color: #333;
	margin-left: 0px;
	font-size:26px;
	border-left: 2.5pt solid #e20613;
	font-weight: bold;
}

nav.navbar-inner{
	min-height: 80px;
	background-image: none;
	background-color: #fff;
	border:none;
	border-bottom: 3px solid #fff;
}

.nav-border {
	-webkit-transition: border .5s linear;
	-moz-transition: border .5s linear;
	box-shadow: 0 5px 8px rgba(0,0,0,0.15);
	box-shadow: 0px 2px 7px rgba(100, 100, 100, 0.20);
	transition: opacity 0.5s ease-in-out;
}

.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
	box-shadow: none;
	border-bottom: 1px solid #d4d4d4;
}

p.helplink{
	text-align: center;
	margin: 20px 0 20px 0px;
}

p.active_tree_node > a{
	color: #e20613;
	font-weight: bold;
}

#page-content{
	padding-top: 5px;
}

#page-header{
	/* min-height:25px; */
}

.page-context-header {
    overflow: visible;
}

.solent_startdate_my{
	color: #a8a8a8;
    font-size: 14px;
    font-weight: normal;
	margin-top: -15px;
	float: left;
	width:100%;
}

.solent_startdate{
	color: #a8a8a8;
	font-size:14px;
	font-weight: normal;
	width:100%;
	float: left;
	margin-top: -15px;
}

ul.nav{
	font-weight: bold;
}

ul.nav.nav-tabs > li.active a{
	color: #e20613;
} 

.usermenu .moodle-actionmenu .toggle-display {
	color: rgb(87, 87, 87);
	font-weight: bold;
} 

.usermenu .moodle-actionmenu[data-enhanced] .menu .menu-action.icon img,
.usermenu .moodle-actionmenu[data-enhanced] .menu .menu-action.icon:hover img,
.usermenu .moodle-actionmenu[data-enhanced] .menu .menu-action.icon:focus img {
	-webkit-filter: brightness(0) invert(1);
}

.userprofile .profile_tree section {
    border-radius: 2px;
}

/* BOOK TOOL */
.succeed_link{width:100%;border:none; height:28px;}
.succeed_link-col1{position:relative;float:left;width:34px;height:28px;background-image:url("/mod/book/pix/succeed_quiz-sq.jpg"); background-repeat:no-repeat; background-position:center;} 
.succeed_link-col2{position:relative;float:left;height:28px; line-height:28px;  color:#333;} 

.succeed_alert{background-color:#CFE4E4; width:100%;min-height:100px;}
.succeed_alert ul {margin-left: 35px;}
.succeed_alert-col1{width:34px;background-image:url("/mod/book/pix/succeed_remember-bg.jpg"); background-repeat:no-repeat;background-position:center top; margin:10px;} 
.succeed_alert-col2{padding:10px; padding-top:17px;} 

.succeed_style {}
.succeed_style tr td {border:solid thin #e0dfdf; vertical-align:top;}
.succeed_title{background-color:#cccccc;padding:10px; font-weight:700; }
.succeed_content{background-color:#f3f3f3;} 

.succeed_download{width:100%;border:none; height:28px;}
.succeed_download_c1{float:left;width:34px;height:28px;background-image:url("/mod/book/pix/succeed_download-sq.jpg"); background-repeat:no-repeat; background-position:center;} 
.succeed_download_c2{position:relative;float:left;height:28px; line-height:28px;  color:#333;} 


.succeed_web{width:100%;border:none; height:28px;}
.succeed_web-col1{position:relative;float:left;width:34px;height:28px;background-image:url("/mod/book/pix/succeed_web-sq.jpg"); background-repeat:no-repeat; background-position:center;} 
.succeed_web-col2{position:relative;float:left;height:28px; line-height:28px;  color:#333;} 

.path-mod-book .block_book_toc li {
    clear: both;
    list-style: none;
	margin-top: 1px;
}

.path-mod-book .book_toc_bullets ul ul {
    margin-left: 40px;
}
/* END BOOK TOOL */

/* FOOTER */

.page-wrap{
	margin: 0 auto;	
    padding-bottom: 25px;
	min-height: 500px;
	/* padding-top: 20px; */
}

footer.site-footer { 
	height: 400px;
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
}

.f-column, .columns {
    width: 100%;
    float: left;
	text-align: left;
}

.f-footer a:link, .f-footer a:visited, .f-footer a:hover,.f-footer a:focus, .f-footer a:active{
    color: #a8a8a8;
}

.f-footer {
    font-size: 15px;
    padding: 60px 0 30px;
    background-color: #3a3b3f;
}

.footer--bottom {
    border-top: 1px solid #616265;
    padding: 20px 0 20px;
    text-align: center;
}

.footer--bottom .column:first-child, .footer--bottom .columns:first-child {
    float: right;
    padding-right: 15px;
}

.footer__title{
	line-height:1;
}

.footer__title {
    border-bottom: 0;
    font-size: 20px;
	color: #fff !important;
}

li > a.footer__item .nav__item{
	line-height:25px;
}

#page-footer > div.footer-wrap > footer.f-footer.footer--bottom > div > div.large-8.f-column > nav > ul{
    float: left;
    margin: 0px;
}

.menu.simple li {
    line-height: 1;
    display: inline-block;
    margin-right: 1rem;
}

#page-footer{
	padding-bottom: 0px;
	border: none;
	padding-top: 0px;
	margin-top:0px;
} 

.row {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.yui-panel-container.yui-dialog.shadow{
	top: 80px;
}

@media screen and (min-width: 40em){
	.medium-3 {
		width: 20%;
	}

	p.footer__copyright{
		color: #a8a8a8;
	}
	
	ul.vertical{
		margin: 0;
		list-style-type: none;
	}
}

@media screen and (max-width: 64em){
	ul.menu.social-wrap {
		text-align: center;
		margin-left: 0px;
	}
	
	p.footer__copyright{
		text-align: center;
	}
	
	.ssu_logo {
		margin: auto;
	}
}

@media screen and (min-width: 64em){
	.large-4 {
		width: 30%;
		float: right;
	}

	.large-8 {
		width: 70%;
		float:left;
	}
	
	.medium-3 {
		width: 20%;
	}
	
	ul.menu.social-wrap {
		padding-top: 15px;
		float: right;
		padding-right: 15px;
	}
}
/* END FOOTER */

div.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl div.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}


/* .footer--bottom .social-wrap {
	text-align: right;
} */

.twitter {
	background-image: url("/theme/solent2017/pix/twitter.svg");
	background-size: 25px;
	outline:none;
	text-decoration:none;
}

.twitter:hover, .twitter:focus {
	background-image: url("/theme/solent2017/pix/twitter-dark.svg");
	background-size: 25px;
	background-color: #fff;
	outline:none;
	-webkit-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
	text-decoration:none;
}

.facebook {
	background-image: url("/theme/solent2017/pix/facebook.svg");
	background-size: 14px;
}

.facebook:hover, .facebook:focus {
	background-image: url("/theme/solent2017/pix/facebook-dark.svg");
	background-size: 14px;
	background-color: #fff;
	outline:none;
	-webkit-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
	text-decoration:none;
}

.youtube {
	background-image: url("/theme/solent2017/pix/youtube.svg");
	background-size: 25px;
}

.youtube:hover, .youtube:focus {
	background-image: url("/theme/solent2017/pix/youtube-dark.svg");
	background-size: 25px;
	background-color: #fff;
	outline:none;
	-webkit-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
	text-decoration:none;
}

.linkedin {
	background-image: url("/theme/solent2017/pix/linkedin.svg");
	background-size: 23px;
}

.linkedin:hover, .linkedin:focus {
	background-image: url("/theme/solent2017/pix/linkedin-dark.svg");
	background-size: 23px;
	background-color: #fff;
	outline:none;
	-webkit-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
	text-decoration:none;
}

.ssu_logo {
	background-image: url("/theme/solent2017/pix/logo-ssu.png");
	background-repeat: no-repeat;
	height: 72px;
	width: 191px;
	padding-bottom: 10px;
}

.social {
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid #fff;
	border-radius: 50%;
	display: inline-block;
	height: 44px;
	width: 44px;
}

.social-wrap li {
	display: inline-block;
}