/* Main CSS
-------------------------*/
@font-face {
    font-family: "OpenSans";
    src: url([[font:theme|OpenSans.eot]]);
    src: url([[font:theme|OpenSans.eot]]) format('embedded-opentype'),
         url([[font:theme|OpenSans.woff]]) format('woff'),
         url([[font:theme|OpenSans.ttf]]) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url([[font:theme|OpenSans-Semibold.eot]]);
    src: url([[font:theme|OpenSans-Semibold.eot]]) format('embedded-opentype'),
         url([[font:theme|OpenSans-Semibold.woff]]) format('woff'),
         url([[font:theme|OpenSans-Semibold.ttf]]) format('truetype');
    font-weight: bold;
    font-style: normal;
}

body{
	margin:0;
	font-family: OpenSans, "Trebuchet MS";
	font-size:14px;
	line-height:20px;
	color:#333;
	background-color: #f4f4f4 !important;
	background: #f4f4f4 !important;
	position: relative;
}


html{
	height: 100%;
	box-sizing: border-box;	
}

section#region-main{
	background-color: #fff;
}

@media (min-width: 768px){
	section#region-main{
		padding: 10px 20px 10px 30px;	
		border-radius: 2px;
	}
}

/* Sort this lot out */



input, select{
	font-family: OpenSans, "Trebuchet MS";
}

div#content_hide > section#region-main{
	display:none;
}

div#logged_out{
	background-image: url("/theme/solent2017/pix/login.jpg");
	height: 34.375rem;
	margin-top: -20px;
	margin-bottom: -30px;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clear: left;
}

.groupmanagementtable #buttonscell p.arrow_button input {
    margin: 10px auto 10px auto;
}

div#fullscreenfloat.fullscreen{
	top:100px;
}

img.block-hider-hide, img.block-hider-show{
	outline: none;
}

.message .contactselector {
	width:25%;
}

/* Unit descriptors in search results */
.unit_desc{
	background-image: none !important;
    font-size: 14px;
    font-weight: normal;
}

.no_desc, .no_desc:hover{
	color: #000;
    font-size: 14px;
    font-weight: normal;
	text-decoration: none !important;
}

/*With selected padding*/
.gradingbatchoperationsform{
	padding-top: 15px;
}

div.container-fluid{
	padding-left: 10px;
	padding-right: 10px;
}

h1.headingblock.header.outline {
    font-size: 24px;
    color: #e20613;
}

h2{
	font-size: 28px;
}

img.userpicture{
	border-radius: 50%;
}

header#page-header > div > div > a > span > img, div.page-context-header > div > a > span > img{
	display:none;
}

span.arrow{
	color: #466273;
}

span.arrow.sep{
	color: #e20613;
}

#page-content{
	padding-top: 5px;
}

.page-context-header {
    overflow: visible;
}

.solent_startdate_my{
	color: #a8a8a8;
    font-size: 14px;
    font-weight: normal;
	margin-top: -15px;
	float: left;
	width:100%;
}

.solent_startdate{
	color: #a8a8a8;
	font-size:14px;
	font-weight: normal;
	width:100%;
	float: left;
	margin-top: -15px;
}

div.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl div.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}