/* nav-bar CSS
-------------------------*/

.navbar-fixed-top{
	margin-bottom: 0px;
}

@media (max-width: 767px){
	
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media (min-width: 979px){	
	
	.navbar .brand {
		padding: 10px 20px 10px 12px;
	}
	
	.usermenu{
		padding-top: 19px;	
		color: rgb(87, 87, 87);
	}

	.dropdown:hover > ul.dropdown-menu, .dropdown:focus > ul.dropdown-menu{
		display: block;
	}
	
	.navbar-inner, .navbar-inner > div.container-fluid, ul.nav, li.dropdown {
		min-height:80px;
		
	}
	
	div.nav-collapse > ul.nav, ul.dropdown-menu{
		padding-top:0px;
		margin-top:0px;
	}
	
	.navbar .nav > li > a {
		padding: 0px 0px 6px 0px;
		margin: 30px 15px 10px;
		color: rgb(87, 87, 87);
	}
	
	.page-wrap{
		padding-top: 35px;
	}
	
	strong > a[id]:before {
		content: "";
		display: flex;
		height: 100px;
		margin: -100px 0 0;
	}
}

/* @media (min-width: 1030px){ */
@media (min-width: 1094px){
	#brand_container {
		margin-top: 21px;
		display: block;
		float: left;
	}
	
	.navbar .brand {
		padding: 10px 20px 10px 12px;
	}
	
	#brand_container > a:nth-child(1){
		display:block;
	}
	
	#brand_container > a.brand.shortname{
		display: none;
	}
}

/* @media (max-width: 1029px){ */
@media (max-width: 1093px){
	
	.navbar .brand {
		padding: 5px 20px 5px 12px;
	}
	
	#brand_container > a:nth-child(1){
		display:none;
	}
	
	#brand_container > a.brand.shortname{
		display: block;
		font-size: 12pt;
		line-height: 12pt;
		letter-spacing: 1px;
		margin-top:10px;
	}
}

@media (max-width: 979px){
	
	.navbar .brand {
		padding: 5px 20px 5px 12px;
		margin-left: 0px;
	}

	span#online{
		margin-left: -1px;
	}

	.usermenu {
		padding-top: 20px;
	}	
	
	.navbar .btn-navbar {
		padding: 20px 0px 0px 0px; 		
	} 
	
	.navbar .btn-navbar, .navbar .btn-navbar:hover, .navbar .btn-navbar:focus{
		background-image: none;
		background-color: #fff;
		border: none;
	}
	
	/* Burger Menu */
	
	.navbar .btn-navbar {
		margin-right: -10px;
	}
	
	.navbar .btn-navbar.collapsed {
		width: 34px;
		height: 34px;
		overflow: hidden;
		margin-right: 0px;
		margin-left: 5px !important;
	}
	.navbar .btn-navbar .icon-bar {
		display: block;
		width: 44px;
		height: 4px;
		background-color: #2c2d2e;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		margin-bottom: 8px;
	}	

	.btn-navbar .icon-bar {
		width: 44px;
		transition: all 0.2s;
		-webkit-transition: all 0.2s;
	}
	.navbar-default .btn-navbar {
		position:relative;
		padding-top:20px;
		z-index:100
	}
	.btn-navbar .top-bar {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform-origin: 10% 10%;
		-webkit-transform-origin: 10% 10%;
	}
	.btn-navbar .middle-bar {
		opacity: 0;
	}
	.btn-navbar .bottom-bar {
		transform: rotate(-45deg);
		transform-origin: 10% 90%;
		-webkit-transform: rotate(-45deg);
		-webkit-transform-origin: 10% 90%;
	}
	.btn-navbar.collapsed .top-bar {
		transform: rotate(0);
		-webkit-transform: rotate(0);
	}
	.btn-navbar.collapsed .middle-bar {
		opacity: 1;
	}
	.btn-navbar.collapsed .bottom-bar {
		transform: rotate(0);
		-webkit-transform: rotate(0);
	}

	/* End Burger Menu */
	
	h1.headingblock.header.outline {
		/* margin-left: -5px; */
	}	
	
	.block_course_overview_past.block, .block_course_overview_current.block{
		padding-left: 5px;
	}
	
	.jsenabled .usermenu .moodle-actionmenu.show .menu.align-tr-br {
		margin-top: 20px !important;
	}
	
	.navbar .nav-collapse.in {
		border-top: none;
	}
	
	.navbar .nav {
		float: none;
	}
	
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
		padding: 0px;
	}
	
	ul.vertical{
		margin: 0 0 10px 0px;
	}
	
	.navbar .nav-collapse.in >.nav .dropdown-menu li > a {
		border-radius: 0;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.navbar .nav-collapse.in > ul.nav {
		max-width: 100%;
	}	
	
	.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
		padding: 10px 15px;
	}
	
	div.nav-collapse.collapse > ul.nav > li > a::before, span.usertext::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 3px;
		bottom: 0;
		left: 0;
		background-color: none;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	
	.course-content ul.topics{
		margin-top: 0px;
	}
	
	.page-wrap{
		padding-top: 15px;
	}
	
	.navbar .nav-collapse.in>.nav>li>a {
		padding-left: 15px;
	}
	
	/* .navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
		padding-bottom: 5px;
	} */
}

@media (min-width: 980px){
	.navbar .nav {    
		float: right;  
		padding-top: 15px;	
	}
	
	.course-content ul.topics{
		margin-top: 0px;
	}
	
	/* Search box */
	@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

	div#searchwrap{
		margin-left: -20px;
	}
	
	form#coursesearch{
		padding-left: 30px;
		margin-left: 30px;
	}
	
	form#coursesearch:before{
		background:#fff;		
	}
	
	input#coursesearchbox_custom {
		height: 37px;
		border: none;
		outline: none;
		color: #555;
		padding: 3px;
		padding-right: 60px;
		width: 0px;
		position: absolute;
		right: 0;
		margin-top: -11px;		
		background: none;
		z-index: 3;
		cursor: pointer;
		box-shadow: none;
		transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	}

	input#coursesearchbox_custom:focus:hover {
		border: 2px solid #d4d4d4;
		background-color: #fff;
		box-shadow: 5px 5px 5px #ccc;
	}

	input#coursesearchbox_custom:focus {
		width: 300px;
		z-index: 1;
		cursor: text;
		border: 2px solid #d4d4d4;
		background-color: #fff;
		box-shadow: 5px 5px 5px #ccc;
	}

	input#coursesearchgo{
		height: 35px;
		width: 35px;
		display: inline-block;
		color:red;
		float: right;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
		background-size: contain;
		text-indent: -10000px;
		border: none;
		position: absolute;
		right: 0;
		margin-top: -6px;
		margin-right: 5px;
		z-index: 2;
		cursor: pointer;
		opacity: 0.4;
		cursor: pointer;
		margin-bottom: 0px;
		padding:0px;
		transition: opacity .4s ease;	
	}

	input#coursesearchgo:hover {
	  opacity: 0.8;
	}
	
	/* End Search Box */
	
	div.nav-collapse.collapse > ul.nav > li > a::before, span.usertext::before{
		content: "";
		position: absolute;
		width: 100%;
		height: 3px;
		bottom: 0;
		left: 0;
		background-color: #e20613;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}

	div.nav-collapse.collapse > ul.nav > li > a:hover:before, span.usertext:hover::before, 
	div.nav-collapse.collapse > ul.nav > li > a:focus:before, span.usertext:focus::before {
		visibility: visible;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	
	.jsenabled .usermenu .moodle-actionmenu>.menu {
		min-width: 170px;
	}
}

@media (max-width: 1255px){		
	.usermenu .moodle-actionmenu .toggle-display .userbutton .usertext {
		display: none;
	}	
}

@media (max-width: 767px){		
	body {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.navbar .popover-region-toggle img {
		height: 25px;
		width: 25px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media (min-width: 768px){	
	.navbar .popover-region-toggle img {
		height: 28px;
		width: 28px;
		opacity: 0.7;
		padding-right: 15px;
	}
}

.popover-region{
	padding-top: 19px;
}

.popover-region-toggle::after {
    z-index: 1;
}

.popover-region-toggle{
    outline: none;
}

.breadcrumb {
	padding: 8px 15px 8px 15px;
}

.breadcrumb>li>.divider {
    padding: 0 5px;
    color: #e20613;
}

.breadcrumb>li>a {    
    color: #333;	
}

.breadcrumb-nav{
	padding-top: 5px;
}

:target:before {
	content: "";
	display: block;
	height: 80px; /* fixed header height*/
	margin: -80px 0 0; /* negative fixed header height */
}

.dropdown-menu{
	right: 0;
	left: inherit;
}

.dropdown-submenu>.dropdown-menu {
    top: 5px;
	right: 100%;
	left: inherit;
	border-radius: 2px;
}

.dropdown-submenu>a:after{
	display: none;
}

.moodle-actionmenu[data-enhanced].show .menu a{
	color: #fff;
}

.dropdown-menu, .moodle-actionmenu[data-enhanced].show .menu {
	background-color: #3a3b3f;
    border-radius: 2px;
	margin-top: 13px;
}

.navbar .nav>li>.dropdown-menu:before, .navbar .nav>li>.dropdown-menu:after{
	display: none;
}

.dropdown-menu > li >a{
	color: #fff;
	padding: 10px 12px;
	font-size: 13px;
	line-height: 18px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    text-decoration: none;
    color: #fff;
    background-color: #2c2d2e;
    background-image: none;
}

header > nav > div > div.nav-collapse.collapse > ul:nth-child(1) > li.dropdown > a > b{
	display: none;
}

ul.nav{
	font-weight: bold;
}

ul.nav.nav-tabs > li.active a{
	color: #e20613;
} 

/*USER MENU*/
.jsenabled .usermenu .moodle-actionmenu.show {
    background-color: #fff;
}

div.feedback_item_box_left div.feedback_item_label_left, div.feedback_item_box_left div.feedback_item_presentation_left {
    margin-left: 25px;
}

ul#action-menu-0-menu > li > a {
	background-color: #3a3b3f;
	background-image: none; 
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
}
ul#action-menu-0-menu > li > a:hover, ul#action-menu-0-menu > li > a:focus {
	background-color: #2c2d2e;
	background-image: none; 
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
}

ul#action-menu-0-menu:before{
    display: none; 
}

ul#action-menu-0-menu:after {
    display: none; 
}

.jsenabled .usermenu .moodle-actionmenu.show .menu.align-tr-br {
    margin-top: 21px;
}

.jsenabled .usermenu .moodle-actionmenu .toggle-display.textmenu {
    padding-left: 0px;
}

.usermenu .moodle-actionmenu .toggle-display {
	color: rgb(87, 87, 87);
	font-weight: bold;
} 

.usermenu .moodle-actionmenu[data-enhanced] .menu .menu-action.icon img,
.usermenu .moodle-actionmenu[data-enhanced] .menu .menu-action.icon:hover img,
.usermenu .moodle-actionmenu[data-enhanced] .menu .menu-action.icon:focus img {
	-webkit-filter: brightness(0) invert(1);
}

.userprofile .profile_tree section {
    border-radius: 2px;
}

.moodle-actionmenu ul {
	font-weight: normal;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars {
    margin-right: 0px;
}

.usermenu .moodle-actionmenu .toggle-display .caret {
	display: none !important;
}

span.usertext{
	padding-bottom: 10px;
    padding-top: 10px;
}

ul.nav > li > a, span.usertext{
	position: relative;
	color: #000;
	text-decoration: none;	
}

div.nav-collapse.collapse > ul.nav > li > a:hover, span.usertext:hover,
div.nav-collapse.collapse > ul.nav > li > a:focus, span.usertext:focus{	
	color: #000;
}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle{	
	background-color: #fff;
}

.navbar .brand {
	color: #333;
	margin-left: 0px;
	font-size:26px;
	border-left: 2.5pt solid #e20613;
	font-weight: bold;
}

nav.navbar-inner{
	min-height: 80px;
	background-image: none;
	background-color: #fff;
	border:none;
	border-bottom: 3px solid #fff;
}

.nav-border {
	-webkit-transition: border .5s linear;
	-moz-transition: border .5s linear;
	box-shadow: 0 5px 8px rgba(0,0,0,0.15);
	box-shadow: 0px 2px 7px rgba(100, 100, 100, 0.20);
	transition: opacity 0.5s ease-in-out;
}

.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
	box-shadow: none;
	border-bottom: 1px solid #d4d4d4;
}

