/* Media CSS
-------------------------*/
div#page-navbar-unit{
	min-height: 250px;
	margin-bottom: 10px;	
}

div#page-navbar-unit.opt1.clearfix{
	background-image: url("/theme/solent2017/pix/unit-header/space.jpg");
	background-position: 100% 20%; 
}

div#page-navbar-unit.opt2.clearfix{
	background-image: url("/theme/solent2017/pix/unit-header/earth.jpg");
}

div#page-navbar-unit.opt3.clearfix{
	background-image: url("/theme/solent2017/pix/unit-header/tree.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1699px){
	.breadcrumb-button {
		margin-right: 10px;
	}
}

.unit_title{
	margin: 0 auto;
    max-width: 1680px;
    color: #fff;
    font-size: 30pt;
	margin-top: 130px;
    padding-left: 30px;
    line-height: 50px;
}

header#page-header{
	padding-top: 15px;
}

fieldset.coursefieldset{
	display: inline-block;
}

header#page-header-crumbs{
	margin: 0 auto;
    max-width: 1680px;
}

#auth_outage_warningbar_box{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.auth_outage_warning_period{
    background-color: orange;	
}

.auth_outage_ongoing_period{
	background-color: #e20613;	
}

.auth_outage_imminent_period{
	background-color: #7A378B;	
}

.auth_outage_warningbar_box_title, .auth_outage_warningbar_box_finish{
	color: #fff !important;
}

.auth_outage_warningbar_spacer{
	display:none;
}


