/* Media CSS
-------------------------*/
div#page-navbar-unit{
	min-height: 250px;
	margin-bottom: 10px;	
}

div#page-navbar-unit.opt1.clearfix{
	background-image: url("/theme/solent2017/pix/unit-header/dark-red-white.png");
	background-repeat: no-repeat;
	background-color: #3A3B3F;
}

div#page-navbar-unit.opt2.clearfix{
	background-image: url("/theme/solent2017/pix/unit-header/dark-orange-gradient.png");
	background-position: 100% 20%; 
}

div#page-navbar-unit.opt3.clearfix{
	background-image: url("/theme/solent2017/pix/unit-header/light-orange-gradient.png");
}

div#page-navbar-unit.opt4.clearfix{
	background-image: url("/theme/solent2017/pix/unit-header/light-green-gradient.png");
	background-repeat: no-repeat;
    background-size: cover;
}

div#page-navbar-unit.opt5.clearfix{
	background-image: url("/theme/solent2017/pix/unit-header/light-green-gradient-invert.png");
	background-repeat: no-repeat;
	background-color: #3A3B3F;
}

/* div#page-navbar-unit.opt6.clearfix{ */
	/* background-image: url("/theme/solent2017/pix/unit-header/light-or-grad.png"); */
	/* background-repeat: no-repeat; */
	/* background-color: #3A3B3F; */
/* } */

/* div#page-navbar-unit.opt7.clearfix{ */
	/* background-image: url("/theme/solent2017/pix/unit-header/light-grn-grad.png"); */
	/* background-repeat: no-repeat; */
	/* background-color: #eaeaea; */
/* } */

div#page-navbar-unit.tts.clearfix{
	background-image: url("/theme/solent2017/pix/unit-header/tts.jpg");
	background-repeat: no-repeat;
    background-size: cover;
	/* height:250px; */
}

@media (max-width: 1699px){
	.breadcrumb-button {
		margin-right: 10px;
	}
}

.unit_title{
	display: inline-block;
    max-width: 1680px;
    color: #fff;
    font-size: 1.875rem;
	margin-top: 150px;
    padding-left: 130px;
    line-height: 50px;
	letter-spacing: .25em;
    text-transform: uppercase;
	background: rgba(0,0,0,0.40);
	padding-right: 20px;
}

/* div#page-navbar-unit.tts.clearfix div.unit_title{ */
	/* margin-top: 230px;	 */
/* } */

header#page-header{
	padding-top: 15px;
}

fieldset.coursefieldset{
	display: inline-block;
}

@media (max-width: 480px){
	fieldset.fieldsetheader, div#page-navbar-unit {
		display: none;
	}
}

div.divcoursefieldset{
	text-align: center;
}

header#page-header-crumbs{
	margin: 0 auto;
    max-width: 1680px;
}

#auth_outage_warningbar_box{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.auth_outage_warning_period{
    background-color: orange;	
}

.auth_outage_ongoing_period{
	background-color: #e20613;	
}

.auth_outage_imminent_period{
	background-color: #7A378B;	
}

.auth_outage_warningbar_box_title, .auth_outage_warningbar_box_finish{
	color: #fff !important;
}

.auth_outage_warningbar_spacer{
	display:none;
}

/* teach to succeed */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}



