/* Media CSS
-------------------------*/
div#page-navbar-unit{
	background-image: url("/theme/solent2017/pix/unit-header/space.jpg");
	min-height: 250px;
	margin-bottom: 10px;
	background-position: 100% 20%; 
	margin-top: 20px;
}

/* div#page-navbar-unit .breadcrumb{ */
	/* background: none; */
/* } */

/* div.breadcrumb-div{ */
	/* float: left; */
	/* margin-top: 5px; */
    /* margin-bottom: 10px; */
	/* margin-left:110px; */
	/* background: rgba(255, 255, 255, 0.8);	 */
	/* border-radius: 5px; */
/* } */

/* .breadcrumb > li { */
    /* text-shadow: none; */
/* } */

/* div.breadcrumb-div div.breadcrumb-nav{ */
	/* padding-top: 0px; */
	/* margin-bottom:0px; */
/* } */

div#page-navbar-unit > .breadcrumb-button{
    margin-top: 20px;
    margin-right: 115px;
}

.unit_title{
    color: #fff;
    font-size: 30pt;
    margin-top: 160px;
    float: left;
    margin-left: 110px;
	padding: 20px;
	border-radius: 2px;	
}

header#page-header{
	padding-top: 35px;
}

fieldset.coursefieldset{
	display: inline-block;
}